$headerFonts :'Montserrat', sans-serif;
$pFonts :'Roboto', sans-serif;

// $pFonts :'Montserrat', sans-serif;
// $headerFonts :'Roboto', sans-serif;

*{
    margin:0;
    padding:0;
    line-height: 1.6rem;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    transition: all 0.5s;
    &:hover{
        color:red;
    }
}

li{
    list-style-type: none;
}

p, li{
    font-family: $pFonts;
    font-weight: 400;
}

h1, h2, h3, h4, a{
    font-family: $headerFonts;
    font-weight: 700;
}

.logoImg{
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
}

aside{
    width: clamp(100px, 25vw, 300px);
    height: clamp(100%, 100vh, 100vh);
    background-color: #e4e4e4;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;

    nav{
        height:80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    li{

        a{
            text-align: center;
            display: block;
            padding: 20px;
            text-transform: uppercase;
        }
    }
}

.hamburger{
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    position: fixed;
    bottom:10px;
    left: 83vw;
    display: none;
}


#hamburgerMenu{
    background-color: transparent;
    cursor:pointer;
    border:0;
    color:#fff;
    font-size: 20px;
    
    .fa-bars, .fa-times{
        position: relative;
        top:18px;
        left: 22px;
    }

    .fa-times{
        display: none;
    }
}

footer{
    text-align: center;

    .fab{
        margin:0 10px;
    }

    .socials{
        margin:10px 0;
    }
}

main{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding:30px;
    margin-left:25vw;

    h1{
        text-align: center;
        padding-bottom:50px;
    }
}

.aboutMe{

    padding:50px 0;

    p, h1, .goToProjects{
        text-align: center;
    }

    .description{
        width: 90%;
        text-align: left;
        line-height: 1.8rem;
    }

    .goToProjects{
        margin:20px 0;

        h2{
            margin:20px;
        }

        button{
            margin:0 auto;
            padding: 15px 25px;
            border:1px solid steelblue;
            border-radius: 10px;
            transition:all 0.3s;     
            cursor:pointer;       
            &:hover{
                background-color:steelblue;
                color:#fff;
            }
        }
    }
}

.mobileNav{
    display: none;
    position: fixed;
    bottom:0;
    right:0;

    padding:40px 20px 40px 100px;
    border-top-left-radius: 1000%;
    background-color: #000;
    text-align: right;


    
    ul{
        margin: 30px 0;
    }

    li{
        margin:5px 0;
    }

    a{
        color:#fff;
    }
}

.techStack{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.fa-js{
    color:#FCD600;
}

.fa-sass{
    color:#C03F80;
}

.fa-react{
    color:#62DAFB;
}

.fa-node{
    color:#5D9855;
}



@media (max-width:768px) {
    body{
        display: block;
        background-color:steelblue;
        padding:30px;
    }

    aside{
        display: none;
    }

    main{
        padding:0;
        margin-left: 0;
    }

    .aboutMe{
        .description{
            width: 100%;
            text-align: left;
            line-height: 1.8rem;
        }
    }

    .hamburger{
        display: block;
    }

    .mobileNav.show{
        display: block;
    }

    #hamburgerMenu{
        .fa-times.show{
            display: block;
        }
    
        .fa-bars.show{
            display: none;
        }
    }



    .techStack{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

.hide{
    display: none;
}
//mobile
// @media (max-width:767px) {
//     body{
//         display: block;
//         background-color:red;
//     }

//     aside{
//         display: none;
//     }
// }