* {
  margin: 0;
  padding: 0;
  line-height: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  color: red;
}

li {
  list-style-type: none;
}

p, li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.logoImg {
  position: fixed;
  top: 20px;
  left: 5vw;
  z-index: 1000;
}

body {
  background-color: #EFF2F5;
}

aside {
  width: clamp(100px, 23vw, 300px);
  height: clamp(100%, 100vh, 100vh);
  background-color: #e4e4e4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

aside nav {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside li a {
  text-align: center;
  display: block;
  padding: 20px;
  text-transform: uppercase;
}

.hamburger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  position: fixed;
  bottom: 10px;
  left: 83vw;
  display: none;
}

#hamburgerMenu {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 20px;
}

#hamburgerMenu .fa-bars, #hamburgerMenu .fa-times {
  position: relative;
  top: 18px;
  left: 22px;
}

#hamburgerMenu .fa-times {
  display: none;
}

footer {
  text-align: center;
}

footer .fab {
  margin: 0 10px;
}

footer .socials {
  margin: 10px 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 30px;
  margin-left: 23vw;
}

main h1 {
  text-align: center;
  padding-bottom: 50px;
}

.aboutMe {
  background-color: steelblue;
  padding: 50px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 5px 10px #000;
          box-shadow: 1px 5px 10px #000;
}

.aboutMe h1 {
  text-align: center;
}

.aboutMe h3 {
  margin: 10px 0;
}

.aboutMe .description {
  width: 90%;
  text-align: left;
  line-height: 1.8rem;
}

.aboutMe .goToProjects {
  margin: 20px 0;
}

.aboutMe .goToProjects h2 {
  margin: 20px;
}

.aboutMe .goToProjects button {
  margin: 0 auto;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.aboutMe .goToProjects button:hover {
  background-color: steelblue;
  color: #fff;
}

.mobileNav {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 40px 20px 40px 100px;
  border-top-left-radius: 1000%;
  background-color: #000;
  text-align: right;
}

.mobileNav ul {
  margin: 30px 0;
}

.mobileNav li {
  margin: 5px 0;
}

.mobileNav a {
  color: #fff;
}

.mobileNav a:hover {
  color: red;
}

.techSkills {
  margin: 20px 0;
  padding: 30px 0;
}

.techSkills h2 {
  padding: 20px 0;
}

.techStack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.techStack .skillContainer {
  background-color: steelblue;
  padding: 10px;
  border-radius: 5px;
  color: #e4e4e4;
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.techStack .skillContainer:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.techStack .skillContainer i {
  width: 100px;
}

.fa-js {
  color: #FCD600;
}

.fa-sass {
  color: #C03F80;
}

.fa-react {
  color: #62DAFB;
}

.fa-node {
  color: #5D9855;
}

.fa-git-alt {
  color: #E44C31;
}

@media (max-width: 968px) {
  .logoImg {
    left: 3vw;
    font-size: .8em;
  }
  .techStack {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
}

@media (max-width: 768px) {
  body {
    display: block;
    padding: 30px;
  }
  .logoImg {
    position: absolute;
  }
  aside {
    display: none;
  }
  main {
    padding: 0;
    margin-left: 0;
  }
  .aboutMe {
    margin-top: 30px;
  }
  .aboutMe .description {
    width: 100%;
    text-align: left;
    line-height: 1.8rem;
  }
  .hamburger {
    display: block;
  }
  .mobileNav.show {
    display: block;
  }
  .mobileNav .socials a {
    margin: 0 5px;
  }
  #hamburgerMenu .fa-times.show {
    display: block;
  }
  #hamburgerMenu .fa-bars.show {
    display: none;
  }
  .techStack {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}

.hide {
  display: none;
}
/*# sourceMappingURL=index.css.map */